.container {
  padding-top: 20px;
}

.mr-title--h2 {
  font-size: 36px;
  padding: 20px 0 20px 0;
}

.mr-custom {
  padding-top: 40px;
}

.mr-custom p {
  font-size: 12px;
}

.mr-custom h3 {
  font-size: 24px;
}
