.card-content {
  //  height: 130px;
}

.marked {
  //  font-weight: bold;
  //  color: red !important;
}

.hovered {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: .5s all;
  z-index: 10;
}

.card .card-title {
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 600;
  background: #26a69a;
  color: #fff;
  padding: 10px 0 10px;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  margin: 0 auto;
  padding: 40px;
}

.card-action {
  text-align: center;
}
