<div class="col s12 m6 l4 xl3">
  <div class="card"  appHover>
    <div class="card-image">
      <img src="//console.creditstok.ru/uploads/{{ offer.image }}">

    </div>
    <span
      class="card-title"
      [ngClass]="{marked: isMarked}"
    >{{ offer.title}}</span>
    <div class="card-content">
    <!--  <p>{{offer.body}}</p>-->

      <table>


        <tbody>
        <tr>
          <td>Сумма:</td>
          <td>до <span class="mr-bold">{{offer.max_sum}} руб.</span></td>

        </tr>
        <tr>
          <td>Процент:</td>
          <td>от <span class="mr-bold">{{offer.min_rate}}</span> %</td>

        </tr>
        <tr>
          <td>Возраст:</td>
          <td>от <span class="mr-bold">{{offer.min_age}}</span> до <span class="mr-bold">{{offer.max_age}}</span> лет</td>

        </tr>
        </tbody>
      </table>


    </div>
    <div class="card-action">
      <a
        (click)="onClick()"
        class="waves-effect waves-light btn"
        href="{{offer.url}}"
        target="_blank"
      > Получить деньги</a>
    </div>
  </div>
</div>
